<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.soldagor"/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/airport_db"/>
        <property name="username" value="test"/>
        <property name="password" value="test"/>
    </bean>

    <bean id="entityManager"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.soldagor.model"/>
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter"/>
        </property>
        <property name="jpaProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">create</prop>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
            </props>
        </property>
    </bean>

    <bean id="transactionManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManager"/>
    </bean>

</beans>



<!--    <bean name="userValidator" class="com.soldagor.UserValidator"/>-->

<!--    <bean name="userHandler" class="com.soldagor.UserHandler" />-->
<!--         autowire="byName"/>-->
<!--        <property name="userValidator" ref="userValidator"></property>-->
<!--    </bean>-->

<!--    <bean name="flightHandler" class="com.soldagor.FlightHandler"/>-->

<!--    <bean name="airportManager" class="com.soldagor.AirportManager"-->
<!--          init-method="customInit" lazy-init="true"/>-->
<!--          autowire="byName"/>-->

<!--          scope="prototype">-->
<!--        <constructor-arg name="userHandler" ref="userHandler"></constructor-arg>-->
<!--        <constructor-arg name="flightHandler" ref="flightHandler"></constructor-arg>-->
<!--    </bean>-->