<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.soldagor"/>

<!--    <bean name="userValidator" class="com.soldagor.UserValidator"/>-->

<!--    <bean name="userHandler" class="com.soldagor.UserHandler" />-->
<!--         autowire="byName"/>-->
<!--        <property name="userValidator" ref="userValidator"></property>-->
<!--    </bean>-->

<!--    <bean name="flightHandler" class="com.soldagor.FlightHandler"/>-->

<!--    <bean name="airportManager" class="com.soldagor.AirportManager"-->
<!--          init-method="customInit" lazy-init="true"/>-->
<!--          autowire="byName"/>-->

<!--          scope="prototype">-->
<!--        <constructor-arg name="userHandler" ref="userHandler"></constructor-arg>-->
<!--        <constructor-arg name="flightHandler" ref="flightHandler"></constructor-arg>-->
<!--    </bean>-->

</beans>